.content__cell .content li {
	width:750px;
	height:auto;
}
.shop_info_tab .content__cell .content li {
	width:247px;
	height:auto;
}
.activity_list .activi_header_content_left .content__cell .content li {
	width:470px;
}
.content .content_commodity ul.content_list_ul li.activity_list .content li {
	width:100%;
	height:272px;
	padding:0;
	margin:0;
}
.activi_header_content_left .content__cell .content li {
	width:910px;
	height:360px;
}
.shop_info_tab .pre-nex {
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;
}
.content__cell--slider {
	width:100%;
	margin:0 auto;
	height:auto;
}
.content__cell--slider ul.content {
	margin-top:10px;
	width:100%;
	height:420px;
}
.shop_info_tab .content__cell--slider ul.content {
	width:100%;
	height:100px;
}
.content__cell .content li img {
	height:100%;
	width:100%;
}
.slider-sprite,.ui-slider .ui-slider__control--left,.ui-slider .ui-slider__control--left-small,.ui-slider .ui-slider__control--right,.ui-slider .ui-slider__control--right-small {
	background-image:url(img/slider.vdb0b2102.png);
	background-repeat:no-repeat
}
.ui-slider {
	position:relative
}
.ui-slider .ui-slider__control {
	position:absolute;
	top:50%;
	margin-top:-25px;
	width:40px;
	height:50px
}
.ui-slider .ui-slider__control--left,.ui-slider .ui-slider__control--left-small {
	left:0;
	background-position:0 -25px
}
.ui-slider .ui-slider__control--right,.ui-slider .ui-slider__control--right-small {
	right:0;
	background-position:0 -100px
}
.ui-slider .ui-slider__control--left-small,.ui-slider .ui-slider__control--right-small {
	margin-top:-12px;
	width:25px;
	height:25px
}
.ui-slider .ui-slider__control--left-small {
	background-position:0 0
}
.ui-slider .ui-slider__control--right-small {
	background-position:0 -75px
}
.ui-slider .ui-slider__triggers {
	*display:inline;
	*zoom:1;
	width:110px;
	height:10px;
}
.ui-slider .ui-slider__triggers li {
	/*background:url(/static/img/o2o11_1_122.png);
	*/
}
.ui-slider .ui-slider__triggers .trigger-item,.ui-slider .ui-slider__triggers li {
	margin-left:1px;
	display:inline-block;
	width:240px;
	height:25px;
	cursor:pointer;
	float:left;
	color:#79a218;
	background-color:#fff;
	opacity:0.9;
	overflow:hidden;
	line-height:25px;
	margin-right:8px;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
}
.ui-slider .ui-slider__triggers .trigger-item--current,.ui-slider .ui-slider__triggers li--current {
	background:#37b7a9
}
.ui-slider .ui-slider__triggers .trigger-item:last-child,.ui-slider .ui-slider__triggers li:last-child {
	margin-right:0
}
.ui-slider .ui-slider__triggers .trigger-item,.ui-slider .ui-slider__triggers li:hover,.ui-slider .ui-slider__triggers .mt-slider-current-trigger {
	color:#fff;
	background-color:#79a218;
	opacity:0.9;
}
.ui-slider .ui-slider__triggers--small {
	height:7px
}
.ui-slider .ui-slider__triggers--small .trigger-item,.ui-slider .ui-slider__triggers--small li {
	width:7px;
	height:7px;
	margin:0 2px 0 3px
}
.ui-slider .ui-slider__triggers--small .trigger-item:first-child,.ui-slider .ui-slider__triggers--small li:first-child {
	margin-left:0
}
.ui-slider .ui-slider__triggers--translucent {
	padding:3px 6px;
	border-radius:10px;
	background:rgba(0,0,0,.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#89000000,endColorstr=#89000000);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#89000000,endColorstr=#89000000)
}
.i-icon-faq {
	background-image:url(img/Ptji5wAAAABJRU5ErkJggg==);
	*background-image:url(img/icon-faq-new.v78153cbf.png)
}
.deallist-sprite,.index-slider .discount {
	background-image:url(/static/img/weidian_icon.png);
	background-repeat:no-repeat
}
.index-slider .pre-next .mt-slider-next,.index-slider .pre-next .mt-slider-previous,.slider-sprite {
	background-image:url(/static/img/weidian_icon.png);
	background-repeat:no-repeat
}
.index-slider .slide__side--left,.index-slider .slide__side--right,.index-slider .slide__side--right-banner,.index-slider .slide__split--line,.index-slider-sprite {
	background-image:url(img/index-slider.vc61ab1f5.png);
	background-repeat:no-repeat
}
.component-index-slider {
	overflow:visible!important;
	position:relative;
	width:100%;
}
.w-1200 .component-index-slider {
	overflow:visible!important;
	position:relative;
	width:300px;
	height:300px;
}
.index-slider {
	padding-right:1px;
	zoom:1
}
.w-1200 .index-slider {
	width:300px;
	padding-right:1px;
	zoom:1
}
.index-slider .left {
	position:relative;
	float:left;
	width:367px
}
.index-slider .right {
	position:relative;
	float:right;
	width:366px
}
.index-slider .link {
	display:block
}
.index-slider .link:hover {
	text-decoration:none
}
.index-slider .discount {
	position:absolute;
	right:10px;
	top:0;
	width:28px;
	height:37px;
	padding:13px 22px 0 12px;
	color:#FFF;
	font-weight:700;
	font-family:Arial;
	font-size:18px;
	text-align:center;
	background-position:0 -504px;
	z-index:2
}
.index-slider .discount-big {
	width:62px;
	padding:8px 0 5px;
	font-size:24px
}
.index-slider .img {
	vertical-align:top
}
.index-slider .title {
	position:relative;
	float:left;
	width:240px;
	height:40px;
	padding:5px 10px;
	background-color:#f6f6f6
}
.index-slider .title--banner {
	width:346px
}
.index-slider .left .title--banner {
	border-right:1px solid #D6D6D6
}
.index-slider .one-pic-title {
	width:610px
}
.index-slider .desc,.index-slider .price,.index-slider .xtitle {
	position:relative;
	width:245px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.index-slider .desc {
	font-size:12px;
	color:#999
}
.index-slider .xtitle {
	color:#666
}
.index-slider .price {
	position:relative;
	float:right;
	width:100px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-weight:700;
	font-size:14px
}
.index-slider .price strong {
	font-size:22px
}
.index-slider .left .price {
	border-right:1px solid #D6D6D6
}
.index-slider .head {
	position:absolute;
	bottom:0;
	width:100%;
	z-index:99;
}
.shop_info_tab .index-slider .head {
	position:absolute;
	bottom:13px;
	width:100%;
	z-index:99;
	display:none;
}
.shop_logo .index-slider .head {
	position:absolute;
	padding:0 0 5px 20px;
	bottom:-294px;
	/bottom:0;
	width:250px;
	left:70px;
}
.index-slider .head .icon {
	position:absolute;
	top:0;
	left:0;
	line-height:1.4;
	color:#f16325;
	*display:inline;
	zoom:1
}
.index-slider .head h2 {
	margin-bottom:8px;
	line-height:20px;
	font-size:14px;
	color:#666
}
.index-slider .head .trigger-container {
	width:750px;
	height:25px;
	padding:0 6px;
	margin:0 auto;
	overflow:hidden;
}
.index-slider .head .trigger-container ul {
	width:800px;
}
.index-slider .slide__split--line {
	position:absolute;
	right:-10px;
	top:0;
	width:10px;
	height:50px;
	background-position:0 -186px
}
.index-slider .slide__side--left,.index-slider .slide__side--right,.index-slider .slide__side--right-banner {
	position:absolute;
	bottom:-5px;
	width:8px;
	height:60px
}
.index-slider .slide__side--left {
	left:-8px;
	background-position:0 0
}
.index-slider .slide__side--right {
	right:-8px;
	background-position:0 -124px
}
.index-slider .slide__side--right-banner {
	right:-8px;
	background-position:0 -62px
}
.index-slider .mt-slider-sheet-container {
	overflow:visible!important;
	height:270px!important
}
.index-slider .mt-slider-sheet {
	width:100%
}
.index-slider .pre-next .mt-slider-next,.index-slider .pre-next .mt-slider-previous {
	position:absolute;
	right:-10px;
	top:160px;
	width:42px;
	height:80px;
	z-index:2;
	cursor:pointer
}
.index-slider .pre-next .mt-slider-next {
	right:-3px;
	background-position:-274px -170px;
	opacity:0.8;
}
.shop_info_tab .index-slider .pre-next .mt-slider-next,.shop_info_tab .index-slider .pre-next .mt-slider-previous {
	position:absolute;
	right:0px;
	top:0px;
	width:42px;
	height:80px;
	z-index:2;
	cursor:pointer
}
.shopping .shopping_right .shop_info_tab .conmmetn_switch {
	width:60px;
	height:26px;
	margin:0 auto;
	padding-top:20px;
}
.shopping .shopping_right .shop_info_tab .conmmetn_switch div {
	}.shopping .shopping_right .shop_info_tab .conmmetn_switch:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.shop_info_tab .index-slider .pre-next {
	width:23%;
	bottom:-11px;
	position:absolute;
	left:38%;
}
.shop_info_tab .index-slider .pre-next .mt-slider-previous,.shop_info_tab .index-slider .pre-next .mt-slider-next {
	background:#009237 url(/static/img/weidian_icon.png);
	width:26px;
	height:26px;
}
.shop_info_tab .index-slider .pre-next .mt-slider-next {
	float:left;
	background-position:389px -403px;
}
.shop_info_tab .index-slider .pre-next .mt-slider-next:hover {
	background-position:346px -403px;
	background-color:#d6d6d6;
}
.index-slider .pre-next .mt-slider-previous {
	left:0px;
	*left:0;
	background-position:-229px -170px;
}
.shop_info_tab .index-slider .pre-next .mt-slider-previous {
	float:right;
	background-position:411px -403px
}
.shop_info_tab .index-slider .pre-next .mt-slider-previous:hover {
	background-color:#d6d6d6;
	background-position:364px -403px
}
.shop_list_bottom .index-slider .pre-next {
	width:23%;
	top:-140px;
	position:absolute;
	left:77%;
}
.shop_list_bottom .index-slider .pre-next .mt-slider-previous,.shop_list_bottom .index-slider .pre-next .mt-slider-next {
	background:#fff url(/static/img/weidian_icon.png);
	width:15px;
	height:15px;
	border-radius:3px;
	overflow:hidden;
	border:1px solid #e7e7e7;
}
.shop_list_bottom .index-slider .pre-next .mt-slider-next {
	float:left;
	background-position:271px -412px;
	right:25px;
}
.shop_list_bottom .index-slider .pre-next .mt-slider-previous {
	float:right;
	background-position:300px -413px;
}
.m-demo {
	width:735px;
	height:150px;
	overflow:hidden;
	position:relative;
}
.m-demo li {
	float:left;
	width:235px;
	heihgt:100%;
	/*box-shadow:0 0 5px rgba(0,0,0,0.5);
	*/
	-webkit-transition:width 0.5s ease-out;
	-moz-transition:width 0.5s ease-out;
	-ms-transition:width 0.5s ease-out;
	transition:width 0.5s ease-out;
	position:relative;
	height:150px;
}
.m-demo:hover li:not(:hover) {
	width:100px;
	z-index:3;
	overflow:hidden;
}
.m-demo li:hover {
	width:235px;
	overflow:hidden;
}
.m-demo li:hover img {
	position:absolute;
	left:-100px;
	z-index:4
}
/* 初始展开  */
.m-demo-1 li {
	width:100px;
	position:relative;
	z-index:1;
}
.m-demo-1 li:first-child {
	width:235px;
	z-index:1;
	height:150px;
	overflow:hidden;
}
.m-demo-1 li:first-child img {
	position:absolute;
	left:-100px;
	z-index:0;
}
.nav {
	width:100%;
	min-width:1210px;
	background-color:#23cc9e;
}
.indexpage {
	background:none;
	border-bottom:2px solid #009237;
	margin-top:20px;
}
.nav .nav_top {
	width:1200px;
	margin:0 auto;
}
.nav .nav_top:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.nav .nav_top .nav_nav {
	float:left;
	position:relative;
	z-index:99;
	cursor:pointer;
	height:auto;
}
.nav .nav_top .nav_nav .nav_nav_mian {
	width:180px;
	height:43px;
	color:#fff;
	background:#009237;
	font-size:15px;
	line-height:43px;
	text-align:center;
}
.nav .nav_top .nav_nav .nav_nav_mian_list {
	position:absolute;
	width:180px;
	height:430px;
	background:#fff;
	display:none;
	left:0;
	top:43px;
	font-size:14px;
	z-index:99998!important;
	background-color:#fafafa;
	border:1px solid #eee
}
.nav .nav_top .nav_nav:hover .nav_nav_mian_list {
	display:block;
}
.indexpage .nav_top .nav_nav .nav_nav_mian_list {
	display:none;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li {
	text-align:left;
	padding-left:60px;
	width:120px;
	line-height:43px;
	position:relative;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.nav .nav_top .nav_nav .nav_nav_mian_list li:hover {
	line-height:43px;
	background-color:#f6f6f6;
	border:1px solid #dcdcdc;
	border-right:none;
	margin-left:-1px;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li:hover:before {
	content:"";
	width:1px;
	height:31px;
	background:#fff;
	position:absolute;
	right:-1px;
	margin-top:0px;
	z-index:9;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li>a {
	color:#555;
	font-size:15px;
	line-height:43px;
	width:100%;
	display:block;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li>a:hover {
	color:#009237;
	line-height:43px;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li .nav_nav_subnav {
	padding:15px 25px;
	width:350px;
	background:#f6f6f6;
	position:absolute;
	top:2px;
	left:180px;
	display:none;
	z-index:99;
	margin-top:-3px;
	border:1px solid #dcdcdc;
	border-left:none
}
.nav_nav_subnav p {
	border-bottom:1px dotted #aaa
}
.nav_nav_subnav p a {
	font-size:13px;
	line-height:20px;
	padding-right:10px;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li:hover .nav_nav_subnav {
	display:block;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li .nav_nav_subnav a.nav_nav_subnav_curn {
	color:#009237;
	font-size:14px;
}
.nav .nav_top .nav_nav .nav_nav_mian_list li .nav_nav_subnav a:hover {
	color:#009237
}
/*------侧边悬浮导航------*/
.sidebar {
	display:block;
	z-index:100;
	position:fixed;
	bottom:20px;
	right:47%;
	margin-right:-625px;
	width:56px;
}
.sidebar {
	position:fixed;
	right:7px;
	margin-right:0;
}
.sidebar .s-btn {
	overflow:hidden;
	display:block;
	width:50px;
	height:42px;
	margin-bottom:10px;
	background:url(/static/img/sidebar.png) no-repeat left top
}
.sidebar .goTop {
	display:none;
	background-position:0 0
}
.sidebar .service {
	background-position:0 -46px;
}
.sidebar .goTop:hover {
	background-position:-56px 0
}
.sidebar .service:hover {
	background-position:-56px -46px
}
#links {
	min-height:0;
	overflow:hidden;
	margin-top:30px;
}
#links p a {
	padding-right:10px;
}
.ico1 {
	background:url('/static/img/ico/1.png') no-repeat center left 25px;
}
.ico2 {
	background:url('/static/img/ico/2.png') no-repeat center left 25px;
}
.ico3 {
	background:url('/static/img/ico/3.png') no-repeat center left 25px;
}
.ico4 {
	background:url('/static/img/ico/4.png') no-repeat center left 25px;
}
.ico5 {
	background:url('/static/img/ico/5.png') no-repeat center left 25px;
}
.ico6 {
	background:url('/static/img/ico/6.png') no-repeat center left 25px;
}
.ico7 {
	background:url('/static/img/ico/7.png') no-repeat center left 25px;
}
.ico8 {
	background:url('/static/img/ico/8.png') no-repeat center left 25px;
}
.ico9 {
	background:url('/static/img/ico/9.png') no-repeat center left 25px;
}
.ico10 {
	background:url('/static/img/ico/10.png') no-repeat center left 25px;
}
.nav_nav_mian_list_left a {
	color:#333!important
}
.nav .nav_top .nav_list {
	float:left;
	line-height:36px;
	font-size:16px;
	width:1020px
}
.nav .nav_top .nav_list:after {
	content:"";
	height:0;
	clear:both;
	display:block;
}
.nav .nav_top .nav_list li {
	float:left;
	height:36px;
	margin-left:2px;
}
.nav .nav_top .nav_list li a {
	color:#fff;
	display:block;
	padding:0 20px;
}
.nav .nav_top .nav_list li a:hover {
	background:#009237
}
.nav .nav_top .nav_list li a.nav_list_curn {
	background:#009237
}
.indexpage .nav_top .nav_list li a {
	color:#191919;
	font-size:16px;
}
.indexpage .nav_top .nav_list li a:hover {
	color:#009237;
	background:none;
}
.indexpage .nav_top .nav_list li a.nav_list_curn {
	color:#009237;
	background:none;
}
.banner {
	width:100%;
	height:430px;
	min-width:1180px;
	position:relative;
	z-index:1;
	min-height:0;
	overflow:hidden;
}
.banner:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.banner_arct {
	width:1200px;
	margin:0 auto;
}
.banner_arct:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.banner .banner_content {
	float:left;
	width:750px;
	margin-left:190px;
}
.banner .banner_content:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.banner .banner_content .banner_content_main {
	float:left;
	width:750px;
	height:auto;
	overflow:hidden;
}
.banner .banner_content .banner_content_asid {
	float:right;
	width:265px;
	background:#fff;
}
.banner .banner_content .banner_content_asid .banner_content_asid_top {
	padding:20px;
}
.banner .banner_content .banner_content_asid .banner_content_asid_top ul:after {
	content:"";
	height:0;
	clear:both;
	display:block
}
.banner .banner_content .banner_content_asid .banner_content_asid_top li {
	float:left;
	margin-left:14px;
	banner_content_asid_center
}
.banner .banner_content .banner_content_asid .banner_content_asid_top li span {
	width:95px;
	height:95px;
}
.banner .banner_content .banner_content_asid .banner_content_asid_top li.banner_content_asid_top_t span {
	background-position:540px -160px;
}
.banner .banner_content .banner_content_asid .banner_content_asid_top li.banner_content_asid_top_t p {
	color:#3ce48e;
	font-size:16px;
}
.banner .banner_content .banner_content_asid .banner_content_asid_top li.banner_content_asid_top_b span {
	background-position:647px -160px;
}
.banner .banner_content .banner_content_asid .banner_content_asid_top li.banner_content_asid_top_b p {
	color:#ffba41;
	font-size:16px;
}
.banner .banner_content .banner_content_asid .banner_content_asid_center {
	padding:5px;
	width:255px;
	height:auto;
	border-top:1px dashed #d9d9d9;
	border-bottom:1px dashed #d9d9d9;
}
.side-cal {
	width:178px;
	margin:0 auto;
	background:#fed205;
}
.side-cal .title {
	padding-top:20px;
	background:url(/static/img/date1.png) no-repeat center top;
	text-align:center;
	font-size:14px;
	color:#000;
	background-size:178px auto;
}
.side-cal .title span,.side-cal .title em {
	margin:0 5px;
}
.side-cal .inner {
	position:relative;
	height:140px;
}
.side-cal .inner img {
	display:block;
	width:100%;
}
.side-cal .inner .date {
	width:108px;
	height:108px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-54px;
	margin-left:-54px;
	color:#fff !important;
}
.side-cal .inner .date .mask {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#960b17;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.side-cal .inner .date .month {
	float:left;
	position:relative;
	display:inline;
	width:22px;
	font-size:22px;
	line-height:24px;
	margin-left:20px;
	padding-top:10px;
}
.side-cal .inner .date .day,.side-cal .inner .date .holiday {
	float:left;
	position:relative;
	display:inline;
	width:40px;
	font-size:40px;
	line-height:40px;
	margin-left:6px;
	padding-top:10px;
}
.side-cal .inner .date .holiday {
	margin-left:34px;
}
.side-cal .btm {
	width:168px;
	height:25px;
	padding:0 5px;
	border:1px solid #eee;
	border-top:1px dashed #c6c6c6;
	background:#fff;
}
.side-cal .btm a {
	display:block;
	font-size:12px;
	line-height:25px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.side-cal .btm a:link,.side-cal .btm a:visited {
	color:#333;
	text-decoration:none;
}
.side-cal .btm a:hover,.side-cal .btm a:active,.side-cal .btm a:focus {
	color:#f57a11;
	text-decoration:none;
}
.side-cal .btm .roller {
	position:relative;
	width:100%;
	height:18px;
	overflow:hidden;
}
.side-cal .btm .roller .list a {
	background-image:none;
}
.side-log {
	width:178px;
	padding:7px 0;
	height:26px;
	margin:0 auto;
	min-height:0;
	overflow:hidden;
}
.side-log .btns {
	margin:-1px -1px 0;
	padding-bottom:17px;
	border-top:1px solid #fff;
	font-size:15px;
	line-height:32px;
	text-align:center;
}
.side-log .btns a {
	float:left;
	width:88px;
	background:#009237;
	color:#fff;
}
.side-log .btns a.last {
	float:right;
}
.side-log .btns a:hover {
	background-color:#006a28;
}
.side-log .btns a:link,.side-log .btns a:visited {
	color:#fff;
	text-decoration:none;
}
.side-log .btns a:hover,.side-log .btns a:active,.side-log .btns a:focus {
	color:#fff;
	text-decoration:none;
}
.side-log .user {
	text-align:center;
	font-size:12px;
	line-height:16px;
}
.side-log .user .name {
	font-size:12px;
	line-height:20px;
	color:#ff0000;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
